@import "./base.scss";
.start-ai {
    width: 100%;
    height: rem(624);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: rem(120);
    background: url("https://help-assets.codehub.cn/enterprise/new-static/images/cs/dark-background.png") center no-repeat;
    background-size: cover;

    .free-text {
        font-family: "PingFang SC";
        font-style: normal;
        font-weight: 600;
        font-size: rem(36);
        line-height: rem(50);
        color: #ffffff;
        text-align: center;
    }

    .free-btn {
        width: rem(144);
        height: rem(52);
        background: linear-gradient(83.66deg, #2d61fc 0.04%, #4983f7 100.04%);
        border-radius: rem(4);
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: rem(20);
        font-weight: 500;

        &:hover {
            transform: scale(1.05);
            cursor: pointer;
        }
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .start-ai {
        height: rem(332);
        padding-top: rem(64);
        .free-text {
            font-family: "PingFang SC";
            font-style: normal;
            font-weight: 600;
            font-size: rem(20);
            line-height: rem(28);
            color: #ffffff;
            text-align: center;
            margin-bottom: rem(24);
        }

        .free-btn {
            width: rem(128);
            height: rem(44);
            background: linear-gradient(83.66deg, #2d61fc 0.04%, #4983f7 100.04%);
            border-radius: rem(4);
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: rem(16);

            &:hover {
                transform: scale(1.05);
                cursor: pointer;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1135px) {
    .start-ai {
        width: 100%;
        height: rem(440);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: rem(100);
        background: url("https://help-assets.codehub.cn/enterprise/new-static/images/cs/dark-background.png") bottom no-repeat;
        background-size: cover;

        .free-text {
            font-family: "PingFang SC";
            font-style: normal;
            font-weight: 600;
            font-size: rem(24);
            line-height: rem(32);
            color: #ffffff;
            text-align: center;
        }

        .free-btn {
            width: rem(144);
            height: rem(52);
            background: linear-gradient(83.66deg, #2d61fc 0.04%, #4983f7 100.04%);
            border-radius: rem(4);
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: rem(20);

            &:hover {
                transform: scale(1.05);
                cursor: pointer;
            }
        }
    }
}
